release
GMLoader/GMLoader.log
GMLoader/GMLoader.csproj.user
GMLoader/bin/
GMLoader/.vs/
GMLoader/output/
GMLoader/Properties/PublishProfiles/FolderProfile.pubxml.user
GMLoader/obj/Debug/net8.0/GMLoader.AssemblyInfo.cs
GMLoader/obj/Debug/net8.0/GMLoader.AssemblyInfoInputs.cache
GMLoader/obj/project.assets.json
GMLoader/obj/project.nuget.cache
GMLoader/obj/Debug/net8.0/GMLoader.AssemblyInfoInputs.cache
GMLoader/obj/Debug/net8.0/GMLoader.AssemblyInfo.cs
